<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioCategoriaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioCategoriaSoap1" />
                <binding name="ServicioGeneralesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioGeneralesSoap1" />
                <binding name="ServicioMarcaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioMarcaSoap1" />
                <binding name="ServicioProductoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioProductoSoap1" />
                <binding name="ServicioUsuarioSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioUsuarioSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioCategoria.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioCategoriaSoap"
                contract="ServiceCategoria.ServicioCategoriaSoap" name="ServicioCategoriaSoap" />
            <endpoint address="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioGenerales.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioGeneralesSoap"
                contract="ServiceGenerales.ServicioGeneralesSoap" name="ServicioGeneralesSoap" />
            <endpoint address="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioMarca.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioMarcaSoap"
                contract="ServiceMarca.ServicioMarcaSoap" name="ServicioMarcaSoap" />
            <endpoint address="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioProductoSoap"
                contract="ServiceProducto.ServicioProductoSoap" name="ServicioProductoSoap" />
            <endpoint address="https://serviciowebtienda20230326235427.azurewebsites.net/ServicioUsuario.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioUsuarioSoap"
                contract="ServiceUsuario.ServicioUsuarioSoap" name="ServicioUsuarioSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.60.0.0" newVersion="1.60.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.60.0.0" newVersion="1.60.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.60.0.0" newVersion="1.60.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>